body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  box-sizing: border-box;
}

#input-button {
  font-size: 24px;
  border: 2px black solid;
  border-radius: 10px;
}

.grid-container {
  border: 2px black solid;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  min-width: 1200px;
  max-height: 1000px;
  min-height: 1000px;
  align-items: center;
  justify-content: center;
  gap: 0px;
  padding: 0px;
  flex-grow: 0;
}

.grid-square {
  position: relative;
  width: 200px;
  height: 200px;
  flex-shrink: 1;
  border: 2px black solid;
}