body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  box-sizing: border-box;
}

#input-button {
  font-size: 24px;
  border: 2px black solid;
  border-radius: 10px;
}

.grid-box {
  border: 4px black solid;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  /* align-items: stretch; */
  justify-content: center;
}

.grid-container {
  /* border: 2px black solid;
  border-radius: 10px; */
  display: flex;
  justify-content: center;
  gap: 0px;
  padding: 0px;
  margin: 0px;
  flex-grow: 1;
  flex-shrink: 1;
}

.grid-square {
  flex-grow: 1;
  flex-shrink: 1;
  outline: 1px lightgray solid;
}